.SuggestrApp {
  width: 100%;
  background: rgb(248, 249, 246);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: monospace;

  /* Check this support */
  user-select: none;
}

.QuestionBox {
  /* border: 2px solid pink; */

  position: relative;

  width: 100%;
  height: 100px;
}

.Question {
  background: white;
  border: 2px solid black;
  border-radius: 25px;

  position: absolute;
  right: 20%;
  top: 0%;

  width: 60%;
  height: 70%;

  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.2vw;
  line-height: 1vw;
}

.SecondaryQuestionText {
  font-size: 1vw;
}

.PrevButton {
  background: white;
  border: 2px solid black;
  border-radius: 25px;

  position: absolute;
  left: 1%;
  top: 0%;

  width: 15%;
  height: 70%;

  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5vw;

  cursor: pointer;
}

.NextButton {
  background: white;
  border: 2px solid black;
  border-radius: 25px;

  position: absolute;
  right: 1%;
  top: 0%;

  width: 15%;
  height: 70%;

  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5vw;

  cursor: pointer;
}

.PoolSizeBox {
  /* outline-color: blue;
  outline-style: solid; */

  position: absolute;
  bottom: 0%;

  width: 100%;

  font-size: 1vw;
  text-align: center;
}

.RangeSlider {
  width: 40%;
  margin: 50px;
}

.RecommendationsTitleBox {
  background: white;
  border: 2px solid black;
  border-radius: 25px;

  position: relative;

  width: 80%;
  height: 100px;
  
}

.RecommendationTitleText {
  font-size: 2vw;
  width: 30%;
  position: absolute;

  right: 35%;
  top: 15%;

  text-align: center;
}

.RecommendationTitleSecondaryText {
  font-size: 1vw;
  width: 100%;
  height: 30%;
  position: absolute;

  right: 0%;
  bottom: 5%;

  text-align: center;
}

.RatingsPara {
  display: inline;
}

.LogoImage {
  /* display: inline-block; */
  vertical-align:middle;
  width: 10%;
}

.ResponseBox {
  /* outline-color: pink; */
  /* outline-style: solid; */

  margin: 20px;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.ResponseButtonContainer {
  /* outline-color: black;
  outline-style: solid; */

  float: left;

  width: 18%;
  /* height: 80px; */

  margin: 10px;

  display:flex;
  justify-content: center;
  align-items: center;

  position: relative;
  text-align: center;

  cursor: pointer;
}

.ResponseButtonText {
  /* outline-color: black;
  outline-style: solid; */

  width: 100%;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2.3vw;
}

.SnapperImage {
  display: block;
  width: 100%;
}


.RecommendationsBox {
  /* outline-color: pink; */
  /* outline-style: solid; */

  margin: 20px;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.RecommendationContainer {
  /* outline-color: black;
  outline-style: solid; */

  float: left;

  width: 30%;
  /* height: 80px; */

  margin: 10px;

  display:flex;
  justify-content: center;
  align-items: center;

  position: relative;
  text-align: center;
}

.RecommendationData {
  /* outline-color: red;
  outline-style: solid; */

  position: absolute;
  top: 49%;

  width: 96%;
  height: 51%;
}

.RecommendationTextDiv {
  /* outline-color: black;
  outline-style: solid; */
  position: absolute;
  right: 0%;

  width: 54%;
  height: 90%;

  overflow: hidden;
}

.RecommendationTitle {
  font-size: 1.5vw;
}

.PosterImage {
  height: 95%;
  position: absolute;
  left: 2%;

  border-radius: 25px;

}

.LoadingResponses {
  text-align: center;
}

li {
  list-style-type: none;
}

/* Phone styling */
@media screen and (max-width: 479px) {
  .QuestionBox {
    /* outline-color: black;
    outline-style: solid; */
  
    position: relative;
  
    width: 100%;
    height: 100px;
  }
  
  .Question {
    background: white;
    border: 2px solid black;
    border-radius: 25px;
  
    position: absolute;
    right: 20%;
    top: 0%;
  
    width: 60%;
    height: 70%;
  
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vw;
  }
  
  
  .PrevButton {
    background: white;
    border: 2px solid black;
    border-radius: 25px;
  
    position: absolute;
    left: 1%;
    top: 0%;
  
    width: 15%;
    height: 70%;
  
    font-size: 5vw;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    overflow: hidden;
  
    cursor: pointer;
  }
  
  .NextButton {
    background: white;
    border: 2px solid black;
    border-radius: 25px;
  
    position: absolute;
    right: 1%;
    top: 0%;
  
    width: 15%;
    height: 70%;
  
    font-size: 5vw;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
  
    cursor: pointer;
  }

  .PoolSizeBox {
    /* outline-color: blue;
    outline-style: solid; */
  
    position: absolute;
    bottom: 3%;
  
    width: 100%;
  
    font-size: 3vw;
    text-align: center;
  }


.RangeSlider {
  width: 80%;
  margin: 50px;
}

  .ResponseBox {
    /* border: 2px solid black; */

    margin: 10px;

    width: 100%;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  .ResponseButtonText {
    font-size: 5vw;
  }

  .ResponseButtonContainer {
    /* border: 2px solid black; */

    width: 40%;
  }

  .RecommendationTitleText {
    font-size: 7vw;
    width: 100%;
    position: absolute;

    right: 0%;
    top: 15%;

    text-align: center;
  }

  .RecommendationTitleSecondaryText {
    font-size: 4vw;
    width: 100%;
    height: 30%;
    position: absolute;
  
    right: 0%;
    bottom: 15%;
  
    text-align: center;
  }

  .RecommendationsBox {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  .RecommendationTitle {
    font-size: 4vw;
  }

  .RecommendationContainer {
    width: 95%;
    display:flex;
    justify-content: center;
    align-items: center;

    position: relative;
    text-align: center;
  }

  .RecommendationTextDiv {
    font-size: 3.5vw;
  }
}